@import "_variables.scss";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $accent-color;
}

body {
  background-color: $background-color;
  color: $foreground-color;
  margin: auto;
  max-width: $content-width;
  padding: $content-padding;
}

.page-center {
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 64px;
  margin: 0;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
